---

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class=''>
		<div
			class='min-h-screen flex justify-center items-center text-white text-[70px] font-bold text-center overflow-hidden'
		>
			<div class='container'>
				<h1 id='text'>BRAVOOOO</h1>
			</div>
		</div>

		<script>
			const text = [
				'GOOOD!!',
				'SUPER!!',
				'COME ON!!',
				'ONE OF US!!',
				'BOMBER!!',
			]
			document.getElementById('text').innerHTML =
				text[Math.floor(Math.random() * text.length)]

			const classes = [
				'bg-lime-500',
				'bg-yellow-400',
				'bg-orange-600',
				'bg-sky-500',
				'bg-violet-400',
				'bg-pink-500',
			]

			document.body.classList.add(
				classes[Math.floor(Math.random() * classes.length)]
			)
		</script>
		<script src='../scripts/close.js'></script>
	</body>
</html>
