---

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class=''>
		<div
			class='min-h-screen flex justify-center items-center text-white bg-lime-600 text-[70px] font-bold text-center overflow-hidden'
		>
			<div class='container'>
				<div class='flex justify-center'>
					<img
						id='card'
						src='/k-di-cuori.jpg'
						alt=''
						width='250'
						class='shadow-lg rounded-lg'
					/>
				</div>
			</div>
		</div>

		<script src='../scripts/solitaire.js'></script>
	</body>
</html>
